body{
	overflow-y: scroll;
	overflow-x: hidden;
}
.lang{
	position: absolute;
	z-index: 99;
	top: 0px;
	left: 15%;
	font-size: 40px;
}

.lang div{
	width: 70px;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
}

.lang .active{
	background-color: rgba(255, 102, 0,1);
}
.lang a{
	color: #fff;
}
.logo{
	float:right;
	margin-right: 27px;
	width: 40%;
	
}

.logo img{
	width: 350px;
}

.menu{
    position: absolute;
    right: 0px;
    top: 143px;
    z-index: 2;
    background-color:rgba(255, 102, 0,0.6);    
    width: 40%;
    height: 600px;


}

.two-blocks{

	display: inline-block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
.child-info{
	float: left;
	 width: 57%;
	 padding-left: 10%;
	color: #006153;


}

.child-menu-block{
	float: right;
	width: 40%;
	height: 100%;
}

.child-menu-block img{
	padding: 10px;

}

.child-info span{
	font-size: 18px;
	text-align: justify;
	 color: #00ab94;
}

.child-info span img{
	margin: 25px 0 20px 0;
	width: 95%;
}
.child-menu{
	top: -20px;
	position: relative;

    right: 0px;
    background-color:rgba(255, 102, 0,0.6);    
  
    height: 620px;
}

.child-banners{
	margin-right: 15%;
}

.child-menu li{
	font-size: 24px;
	list-style-type: none;
	border-bottom: 1px solid #fff;
	line-height: 2.2;
	text-indent: 30px;
}

.child-menu ul{
	margin-left: -40px;
}
.child-menu a:hover{
	color: #ffc299;

}
.child-menu a{
	color: #fff;
}
.child-lang{
	  top: 146px;
}

.flicker-child{
	height: 100px;
}

.menu li{
	font-size: 32px;
	list-style-type: none;
	border-bottom: 1px solid #fff;
	line-height: 1.6;
	text-indent: 30px;
}

.menu ul{
	margin-left: -40px;
}
.menu a:hover{
	color: #ffc299;

}
.menu a{
	color: #fff;


}

#schema{
	width: 100%;
}
.block_backup{
	height: 400px;
	background-image: url('carousel/img/flicker-1.jpg');
	color: #fff;
	font-size: 50px;
	text-align: center;
	padding-top: 10%;
	padding-left: 40px;
	padding-right: 40px;
}

h1{
	color:rgba(255, 102, 0,0.6);
	margin-left: 0%; 
}

.row{
	text-align: center;
	

}
.col-sm-6{
	display: inline-block;
	margin: 0 20px 0 20px;
}
.footer{
	height: 400px;
	background-color: #ffc299;
}
.map-block{
	z-index: 9999;
	position: absolute;
	right: 40px;
	height: 400px;
	width: 250px;
	background-color: #fff;
}

.map-block img{
	width: 100%;
}

.map-block img:nth-child(2n){
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#logo2{
	position: absolute;
	left: 30px;
}
#block-block-18 { 
text-align: center; 
margin-bottom: 40px; 
} 

.text_pic_krug { 
color: rgba(255, 102, 0,0.6); 
text-align: left; 
margin-left: 10%; 
margin-top: 22px; 
margin-bottom: 22px; 
font-size: 24pt; 
font-weight: 600; 
font-family: Helvetica; 
} 

.pic_krug { 
width: 300px; 
height: 300px; 
margin: 0 20px 0 20px; 
display: inline-block; 
} 

.pic_krug img { 
width: 100%; 
height: 100%; 
border-radius: 50%; 
}
#text_block17 { 
text-align: center; 
width: 100%; 
padding-top: 160px; 
color: #fff; 
font-size: 50px; 
position: absolute; 
font-family: Helvetica; 
} 

#pic_block17 { 
width: 100%; 
height: 400px; 
overflow: hidden; 
line-height: 185px; 
text-align: center; 
} 

#pic_block17 img { 
width: 100%; 
vertical-align: middle; 
}

/*
.marker {
}
.marker strong{
color: #fff;
}
*/
/*myFixes*/
.marker {
text-shadow: 1px -1px 0px rgba(0, 0, 0, 1),1px 1px 0px rgba(150, 150, 150, 1),
1px 1px 0px rgba(0, 0, 0, 1),-1px 1px 0px rgba(150, 150, 150, 1) ;
}
.marker strong{
color: #fff;
}

/*del ru/end*/
.form-item.form-type-item {
  display:none; 
}
.links.inline {
  display:none; 
}

/*.field-content {
    color: rgba(255, 102, 0,0.6);
    font-size: 32px;
    font-weight: 600;
}
.views-field.views-field-title {
    margin-top: 21px;
    margin-bottom: 21px;
}*/

/*sotrudniki*/
#block-system-main div.view-content {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}
#block-system-main div.view-content div{
    width: 350px;
    height: 350px;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}
#block-system-main div.view-content div div h2 {
	display: none;
}

/*footer*/
#block-block-13 {
  height: 80px;
}
#block-block-29 {
  text-align: left;
  margin-left: 10px;
}

/*fix shema*/
#block-block-16 p img{
  width: 100%;
}
#shema {
  width: 100%;
}

.map_contacts {
    position: absolute;
    top: 100px;
    margin: 5px;
}

.top_picture p {
    margin:0;
}
